<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>

  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %5p[%X{REQID}][%t]%X{MSGID} %c{1}:%M(%L) %m%n"/>
    </Console>

    <RollingRandomAccessFile name="APP" 
                             fileName="awskmsutil.log"
                             filePattern="awskmsutil.log.%d{yyyy-MM-dd}.%i.gz" 
                             append="true"> 
      <PatternLayout pattern="%d %5p[%X{REQID}][%t]%X{MSGID} %c{1}:%M(%L) %m%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB"/>    
      </Policies>
      <DefaultRolloverStrategy max="100">
        <Delete basePath="${baseDir}" maxDepth="2">
          <IfFileName glob="awskmsutil.log.*" />
          <IfLastModified age="7d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingRandomAccessFile>
  </Appenders>
  
  <Loggers>
    <!-- Root Logger -->     
    <Root level="INFO">
      <AppenderRef ref="CONSOLE" />
      <AppenderRef ref="APP" />
    </Root>
  </Loggers>
</Configuration>
